body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100vw;
}

body.jungle-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, var(--color1), var(--color2), transparent);
  filter: blur(20px);
  z-index: -1;
  opacity: 0.8;
}

canvas {
  display: block;
  z-index: 1;
  background: transparent !important;
}

#prickleButton {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(34, 139, 34); /* Forest Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  touch-action: manipulation; /* Prevent mobile zoom/scroll */
}

#prickleButton:hover {
  background-color: rgb(107, 142, 35); /* Olive */
}

#prickleButton:active {
  background-color: rgb(47, 79, 79); /* Muted Teal */
}
